body{
    background-color: beige;
}


h1{
    color: blue;
    font-family:cursive;
    font-size: xx-large;
    text-align: center;
}

form{
    border: 2px double rgb(255, 238, 0);
    background-color: antiquewhite;
}

.form-example{
    border: 1px grey solid;
    padding: 25px;
    margin: 25px;

}

.form-container{
    width: 900px;
    left: 250px;
    top: 30px;
    position: relative;
    color: rgb(218, 10, 10);
    box-shadow: 20px 20px 40px 20px  rgb(90, 83, 97);
    font-weight: bold;
}

.label-color{
    color: black;
}



a { 
    font-size: 30px;
}

a:hover {
    border:3px solid rgb(0, 255, 85);
}


h2,
#imp-note,
.thbs-color, 
.thbs-note {
    font-size: 20px;
    color:black;
}
p::first-line { 
    font-weight: bolder;
    background-color: rgb(20, 173, 219);
}


div > p { 
    color: rgb(17, 16, 17);
    text-align: center;
    font-size: xx-large;
}

.thbs-color > span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;

}

