/*
we r in main branch */

body{
    border:2px solid rgb(216, 9, 9)  ;
    color: rgb(4, 0, 255);
    font-size: xx-large;

}

#about-us{

    border: 6px dashed forestgreen;

}

#contact-us{

    border: 6px dashed rgb(12, 192, 216);

}

.thbsp1{
    font-family: cursive;
    font-size: medium;
    font-style: italic;
    color: aquamarine;
}

.thbsp2{
    font-family: cursive;
    font-size: xx-small;
   
 color: black;
    background-color: aqua;
}



